.content {
  max-width: 400px;
}
.btn-dialog-close{
  //position: absolute;
  top: -20px;
  right: -15px;
  width: 30px;
  min-width: 0px;
  height: 20px;
  padding: 0px;
  text-align: center;
  background-color: darkseagreen;

  &:hover{
    background-color: red;
    width: 42px;
    height: 42px;
  }
}
