
//.example-header-image {
//  //background-image: url();
//  background-size: cover;
//}
mat-card{
  margin: 10px;
  background-color:darkseagreen;
  overflow: hidden;
}
.matCard img{
  background-size: contain;
}
.cardImage{
  width: 120px;
  height: 120px;
  border: 3px solid black;
  border-radius: 50%;
}
.searchSection{
  font-size: 14px;
}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline{
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  border-radius: 50px;
}
::ng-deep div.mat-form-field-outline-start {

  border-width: 0px !important;
}

::ng-deep .mat-form-field-outline-gap{
  border-width: 0px !important;
}

::ng-deep .mat-form-field-outline-end{
  border-width: 0px !important;
}
